body {
    color: #000000;
    background-color: white;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;

}

a:hover {
    color: rgb(0, 162, 255);
    /* Cor ao passar o mouse (pode personalizar) */
}

img {
    width: 160px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    display: block;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
}

img:hover {
    transform: rotate(360deg) scale(1.2);
    /* Gira a imagem e aumenta o tamanho */
}

.center {
    text-align: center;
}

h1 {
    color: black;
}

.texto-junto {
    line-height: 1.4;
    margin: 0;

}

footer {
    background-color: rgba(0, 0, 0, 0);
    padding: 200px 0;
    text-align: center;
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.social-icons a i {
    margin-right: 7px;
    font-size: 24px;
}

.social-icons a:hover {
    color: rgb(0, 162, 255);
    /* Cor ao passar o mouse (pode personalizar) */
}

section p1 {
    color: rgb(255, 251, 0)
}

.btn-logout {
    display: block;
    margin: 1px auto 0;
    padding: 7px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-logout:hover {
    background-color: rgb(0, 162, 255);
    color: black;
}

.countainer {
    padding: 0 40px;
}


.curso-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.curso-container p {
    flex: 1;
    margin-right: 15px;
}

.progress-container {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar {
    height: 30px;
    background-color: #1fcf25;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px 0 0 25px;
    transition: width 0.4s ease;
}

.progress-container span {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.profile-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.menu-toggle {
    font-size: 30px;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background-color: #00b7ff;
}

/* Estilização do botão */
#aprovarUsuarioBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilização do MENUU */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Conteúdo do MENUU */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}

/* Botão de fechar */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}