body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    color: rgb(30, 6, 252);
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile {
    text-align: center;
    color: rgb(248, 6, 6);
    cursor: pointer;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.profile:hover img {
    transform: scale(1.1);
}

.profile p {
    margin-top: 10px;
    font-size: 1.2rem;
}
/*BOTÃO DE TROCAR TEMA*/
body {
    transition: background-color 0.3s ease-in-out;
  }
  
  body.light {
    background-color: #f0f0f0;
  }
  
  body.dark {
    background-color: #333;
    color: #fff;
  }
  
  /* Estilos para o botão de troca de tema */
  .theme-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #f8cc07;
    color: #070000;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .theme-toggle:hover {
    background-color: #050505;
  }