body {
    font-family: Arial, sans-serif;
    background-color: #999494;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contato-container {
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000;
    margin-top: 20px;
}

p {
    color: #000000;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

a:hover {
    text-decoration: underline;
}

.fa-envelope, .fa-whatsapp, .fa-github, .fa-linkedin, .fa-instagram {
    color: #006eff;
}

.botao-voltar {
    margin-top: 20px;
}

.botao-voltar a {
    background-color: #ee0e06;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.botao-voltar a:hover {
    background-color: #1558b3;
}
