body { 
    color: #000000;
    background-color: rgb(129, 124, 124);
    font-family:  Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul { 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
   color: rgb(0, 0, 0);
   text-decoration: none;
   text-align: center;

}

a:hover {
    color: rgb(140, 0, 255)
    ; /* Cor ao passar o mouse (pode personalizar) */
}

.foto-perfil {
    width: 160px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
}

.center{
    text-align: center;
}

h1{
    color:black;
}

.texto-junto {
    line-height: 1.4;
    margin: 0;
    text-align: justify;

}
.icons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    animation: fadeIn 2s ease-in-out;
}

.icons-container img {
    display: block;
    transition: transform 1.3s;
}

.icons-container img:hover {
    transform: scale(1.1);
}

footer {
    background-color: rgba(0, 0, 0, 0);
    padding: 200px 0;
    text-align: center;
    color: #fff;
}

 section p1 {
color: rgb(240, 236, 6)
 }

 .btn-logout {
    display: block;
    margin: 1px auto 0;
    padding: 7px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-logout:hover {
    background-color: rgb(248, 5, 5);
    color: black;
}

.countainer{
    padding: 0 40px;
    align-items: center;
}


.curso-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.curso-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.curso-container p {
    flex: 1;
    margin-right: 15px;
}

.progress-container {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 30px;
    background-color: #069c0b;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 30px 0 0 75px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.5);
    animation: progress-bar-animation 3s ease-in-out;
    transition: width 0.4s ease;
    position: absolute; /* Para garantir que ocupe o espaço completo */
    left: 0; /* Começa no início do contêiner */
    top: 0; /* Alinhado ao topo do contêiner */
    bottom: 0; /* Alinhado à parte inferior do contêiner */
    width: 0; /* Inicialmente 0% */
}

@keyframes progress-bar-animation {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}


.progress-container span {
    margin-left: 10px;
    font-size: 14px;
    color: #080000;
}


.profile-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.menu-toggle {
    font-size: 30px;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background-color: #ff1e00;
}
@media (max-width: 768px) {

    .icons-container {
        flex-direction: column;
        gap: 10px;
}
}

@media (max-width: 480px) {

    .icons-container {
        flex-direction: column;
        gap: 5px;
    }
}

/*botão voltar*/

.botao-voltar {
    margin-top: 20px;
}

.botao-voltar a {
    background-color: #073ff7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    top: 20px;
    left: 10px;
}

.botao-voltar a:hover {
    background-color: #f80303;
}

/* botão tema*/
/* Light theme styles */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark theme styles */
  body.dark-theme {
    background-color: #161616;
    color: #f2f2f2;
  }