body {
    color: #000;
    background-color: rgb(129, 124, 124);
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.countainer {
    padding: 0 40px;
    max-width: 980px;
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    gap: 12px;
    flex-wrap: wrap;
}

a {
   color: rgb(0, 0, 0);
   text-decoration: none;
}

a:hover {
    color: rgb(140, 0, 255);
}

img {
    width: 160px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
}

.center {
    text-align: center;
}

h1 {
    color: black;
}

.texto-junto {
    line-height: 1.5;
    margin: 0;
}

main section {
    margin-bottom: 24px;
}

footer {
    padding: 30px 0;
    text-align: center;
}

.social-icons p {
    margin: 8px 0;
}

.btn-logout {
    display: block;
    margin: 1px auto 0;
    padding: 7px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-logout:hover {
    background-color: rgb(248, 5, 5);
    color: black;
}

.curso-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.curso-container p {
    flex: 1;
    margin-right: 15px;
}

.progress-container {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar {
    height: 30px;
    background-color: #069c0b;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 20px 0 0 25px;
    transition: width 0.4s ease;
}

.progress-container span {
    margin-left: 10px;
    font-size: 14px;
    color: #080000;
}

.profile-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.menu-toggle {
    font-size: 22px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background-color: #ff1e00;
}

@media (max-width: 760px) {
    .countainer {
        padding: 0 16px;
    }

    .curso-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .progress-container {
        width: 100%;
    }
}
